.closeModal {
    border: none;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    top: 24px;
    right: 24px;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    font-family: sans-serif;
    transform: rotate(0);
    transition: .3s ease;
}